DoseDistribution.out
DoseDistribution.root
currentEvent.rndm
currentRun.rndm
dosedistribution.hbk
last.kumac
paw.metafile
*~
*.root
*/CVS/*
CVS/*
fluence.txt
*.eps
*.prim
*.so
*.bbl
*.blg
*.ilg
*.ind
*.log
*.nav
*.out
*.snm
*.aux
*.toc
